.page {
	background-image: url("~/images/map.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.logo {
	height:150;
	width:150;
	margin-top:40;
	margin-bottom:30;
}

Button {
	color:#BF2E1D;
	font-size:15;
	background-color:white;
	border-color:#BCBCBC;
	border-width:2;
	border-radius:4;
	text-transform:capitalize;
	margin-bottom: 20;
	width: 300;
}